{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="mb-3 descripcion">
    <h4> Ingreso </h4>
</div>

<div class="mb-3">
    <form enctype="multipart/form-data" action="{% url 'login' %}" method="POST">
        {% csrf_token %}

        <div class="row">
            <div class="mb-3 col-sm-6">
                <label for="correo" class="form-label">Correo:</label>
                <input type="email" class="form-control" name="email" id="correo">
            </div>

            <div class="mb-3 col-sm-6">
                <label for="password" class="form-label">Contraseña:</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>

        </div>

        <div class="row">
            <div class="mb-3 col-6">
                <a class="form-control btn btn-secondary" href="{% url 'registro' %}"> ¿No te has registrado? </a>
            </div>
            
            <div class="mb-3 col-6">
                <input type="submit" value="ingresar" class="form-control btn btn-warning">
            </div>

        </div>
    </form>
</div>

{% endblock %}
