{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-form sign-up">
    <div class="welcome-back">
        <div class="message">
            <h2>Bienvenido a DaniCodex</h2>
            <p>Si ya tienes una cuenta por favor inicia sesion aqui</p>
            <button class="sign-up-btn">Iniciar Sesion</button>
        </div>
    </div>
    <form class="formulario">
        <h2 class="create-account">Crear una cuenta</h2>
        <div class="iconos">
            <div class="border-icon">
                <i class='bx bxl-instagram'></i>
            </div>
            <div class="border-icon">
                <i class='bx bxl-linkedin' ></i>
            </div>
            <div class="border-icon">
                <i class='bx bxl-facebook-circle' ></i>
            </div>
        </div>
        <form class="formulario" action="{% url 'registro' %}" method="POST">
            {% csrf_token %}
            <p class="cuenta-gratis">Crear una cuenta gratis</p>
            <input type="text" class="form-control" name="first_name" id="nombres" placeholder="Nombres" value="" required="">
            <input type="text" class="form-control" name="last_name" id="nombres" placeholder="Apellidos" value="" required="">
            <input type="text" class="form-control" name="username" id="nombres" placeholder="Usuario" value="" required="">
            <input type="email" class="form-control" name="correo" id="email" placeholder="correo@ejemplo.com">
            <input type="password" class="form-control" name="password" id="password" placeholder="Contraseña">
            <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Confirmar contraseña">
            <div class="col-12">
                <label for="tipoUsuario" class="form-label">Tipo de Usuario</label>
                <select class="form-control" name="rol" id="tipoUsuario">
                    <option value="admin">Administrador del Sistema</option>
                    <option value="gerente" selected>Gerente</option>
                    <option value="cliente">Cliente</option>
                </select>
            </div>
            <input type="submit" value="Registrarse">
        </form>
    </div>
    <script src="{% static 'js/script.js'%}"></script>
</div>

{% endblock %}