{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPimes-Adriana</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <script src="{% static 'js/jQuery362.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body>
    <div class="container">
        <div class="col-12 col-lg-8 offset-lg-2" id="contenedor">
            {% include 'includes/head.html' %}
            {% include 'includes/nav.html' %}
            {% if alarma %}
                <div class="alert alarma">
                    <p>{{ alarma }}</p>
                </div>
            {% endif %}
            {% if mensaje %}
                <div class="alert mensaje">
                    <p>{{ mensaje }}</p>
                </div>
            {% endif %}
            <main>
                {% block content %}

                {% endblock %}
                {% include 'includes/footer.html' %}
            </main>
        </div>
    </div>
</body>

</html>